body{
    font-family: 'Roboto Condensed', sans-serif;
    background: #D3B99F;
    text-align: center;
   
}

section{
    text-align: center;
    background: #BD93D8;
    border-radius: 10px;
    padding: 20px;
    width:600px;
    height: 700px;
    margin: auto;
    box-shadow: 6px 5px 10px black;
}
footer{
    padding: 80px;
    text-align: center;
    font-style: oblique;
}
div.dados{
    background: #BD93D8!important;
}
div#resdados{
  margin-top: 50px;
  margin-bottom: 50px;  
  padding-top: 15px;
}
div#resdoar{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
}

.lista{
    border: 2px solid blueviolet;
    text-decoration: none;
    color: white;
    padding: 20px;
    background: rgb(59, 13, 102);
    border-radius: 8px;
    transition:1s;
}
.lista:hover{
    background: violet;
    border: 2px solid blueviolet;
    color: #000;
    transition: 1s;

}

.botao{
    cursor: pointer;
    border: 2px solid blueviolet;
    background: darkmagenta;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    color: white;
}

.botao:hover{
    border: 2px solid blueviolet;
    background: rgb(211, 101, 211) ;
    color: #000;
}